<!DOCTYPE HTML>


{% load static %}

<html>
	<head>
		<title>AMCorvi - Dev Blog</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{% static 'blog/styles/main.css'%}" />
        <!-- I know... I know but Sometimes you want to have scripts before your 'body' markdown  -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/default.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.7.1/showdown.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js"></script>
	</head>
	<body>

		<!-- Header -->

			<header id="header">
				<a href="http://www.corvi.co" class="logo"><strong>AMCorvi</strong></a>


				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="http://www.corvi.co">Home</a></li>
					<li><a href="projects.corvi.co">Projects</a></li>
					<li><a href="/">Blog</a></li>
                    <li><a href="http://corvi.co/about">About</a></li>
				</ul>
			</nav>

            <!-- Banner -->
            <div class="blogbanner">

					<div class="image full">
                        <img align="middle" src="" alt="" />
					</div>


                        <style scoped>
                           .image.full img  {
                                background: url("{{blog.img_url}}") black center/cover;
                            }

                        </style>
            </div>
		<!-- Main -->
			<section id="main">
				<div class="inner">
            <a href="http://blog.corvi.co/#{{blog.pk}}" > <p class="button alt icon fa-arrow-left">Return to Blog List</p> </a>
					<header>
                        <h1>{{ blog.post_title }}</h1>
                        <p class="info">{{blog.date_create|timesince}} <a href="#">Jane Doe</a></p>
					</header>
                    <p id="post_content"> {{ blog.post_content }} </p>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="http://github.com/amcorvi" class="icon fa-github"><span class="label">Github</span></a></li>
					<li><a href="mailto:am@corvi.co" class="icon fa-envelope"><span class="label">Email</span></a></li>
					<li><a href="http://twitter.com/amcorvi" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				</ul>
				<div class="copyright">
                    <a href="http://twitter.com/amcorvi"> &copy; AMCorvi</a>.
				</div>
			</footer>

		<!-- Scripts -->
            <script src="{% static 'blog/js/jquery.min.js'%}"></script>
            <script src="{% static 'blog/js/jquery.scrolly.min.js'%}"></script>
            <script src="{% static 'blog/js/skel.min.js'%}"></script>
            <script src="{% static 'blog/js/util.js'%}"></script>
            <script src="{% static 'blog/js/main.js'%}"></script>
            <script src="{% static 'blog/js/showdown-htmlescape.min.js'%}"></script>
            <script>
                $(document).ready(function(){
                   var postContent = document.getElementById('post_content');
                   var converter = new showdown.Converter({extensions: ['htmlescape']});
                       text      = postContent.innerHTML,
                       html      = converter.makeHtml(text);
                   postContent.innerHTML = html;
                   hljs.initHighlighting();
                })
            </script>


	</body>
</html>
