<!DOCTYPE HTML>
{% load static %}
{% load hosts %}
<html>
	<head>
		<title>AMCorvi</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{% static 'mainsite/styles/smain.css'%}" />
        {# <link rel="stylesheet" href="{% static 'mainsite/styles/supplement' %}"/> #}
	</head>
	<body>


                <!-- Menu -->
                <div class="ui top fixed menu">
                  <div class="item">
                      <img src="{% static 'project/assests/corvi.png'%}">
                  </div>
                  <a class="item">Features</a>
                  <a class="item">Testimonials</a>
                  <a class="item">Sign-in</a>
                </div>


				<!-- Projects -->
                <a href='http://projects.corvi.co'>
                    <h1 id="sectionTitle"> Projects </h1>
                </a>
					<section id="cta" class="main special">
                   {% for project in projects_list %}
                        <h2>{{ project.project_name}} </h2>
                        <p class="projects">{{project.description}}</p>
                        <br />
                        <h6>{{ project.technologies }}</h6>
						<ul class="actions">
                            <li><a href="{{project.repo_url}}" class="button">View Source</a></li>
                            <li><a href="{{project.project_url}}" class="button">View Project</a></li>
						</ul>
                    {% endfor %}
					</section>



				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="http://github.com/amcorvi" class="icon fa-github"><span class="label">Github</span></a></li>
							<li><a href="mailto:am@corvi.co" class="icon fa-envelope"><span class="label">Email</span></a></li>
							<li><a href="http://twitter.com/amcorvi" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						</ul>
						<p class="copyright"><a href="http://github.com/amcorvi"> &copy; AMCorvi. </a></p>
					</footer>

			</div>

		<!-- Scripts -->
            <script src="{% static 'mainsite/js/jquery.min.js' %}"></script>
            <script src="{% static 'mainsite/js/skel.min.js' %}"></script>
            <script src="{% static 'mainsite/js/util.js' %}"></script>
            <script src="{% static 'mainsite/js/main.js' %}"></script>
	</body>
</html>

