<!DOCTYPE HTML>
{% load static %}
{% load hosts %}
<html>
	<head>
		<title>AMCorvi</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{% static "mainsite/styles/smain.css"%}" />
        <link rel="stylesheet" href="{% static "projects/styles/supplement.css"%}" />
        <link rel="stylesheet" href="{% static "projects/assets/bower_components/semantic-ui-item/item.min.css" %}"/>
        <link rel="stylesheet" href="{% static "projects/assets/bower_components/semantic-ui-menu/menu.min.css" %}"/>
	</head>
	<body>


                <!-- Menu -->
                <div id="menu" class="ui top inverted stackable menu">
                  <div class="item">
                      <a href="http://Corvi.co" class="ui item image">
                          <img src="{% static "projects/assets/images/corviPixel.png"%}">
                      </a>
                  </div>
                  <a href="/" class="item">Home</a>
                  <a href="http://blog.corvi.co" class="item">Blog</a>
                  <a href="http://corvi.co/about" class="item">About</a>

                </div>

                <iframe id="siteDisplay"
                    title="{{project.project_name}}"
                    width="100%"
                    height="100%"
                    frameborder="0"
                    marginheight="0"
                    marginwidth="0"
                    src="{{ project.project_url}}">
                </iframe>

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="http://twitter.com/amcorvi" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="mailto:am@corvi.co" class="icon fa-envelope"><span class="label">Email</span></a></li>
							<li><a href="http://github.com/amcorvi" class="icon fa-github"><span class="label">Github</span></a></li>
						</ul>
						<p class="copyright"><a href="http://github.com/amcorvi"> &copy; AMCorvi. </a></p>
					</footer>

			</div>

		<!-- Scripts -->
            <script src="{% static 'mainsite/js/jquery.min.js' %}"></script>
            <script src="{% static 'mainsite/js/skel.min.js' %}"></script>
            <script src="{% static 'mainsite/js/util.js' %}"></script>
            <script src="{% static 'mainsite/js/main.js' %}"></script>
	</body>
</html>

