<!DOCTYPE HTML>
{% load static %}
{% load hosts %}
<html>
	<head>
        <title>AMCorvi - {{project.project_name}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{% static "mainsite/styles/smain.css"%}" />
        <link rel="stylesheet" href="{% static "projects/styles/supplement.css"%}" />
        <link rel="stylesheet" href="{% static "projects/assets/bower_components/semantic-ui-item/item.min.css" %}"/>
        <link rel="stylesheet" href="{% static "projects/assets/bower_components/semantic-ui-menu/menu.min.css" %}"/>
        <link rel="stylesheet" href="{% static "projects/assets/bower_components/semantic-ui-transition/transition.min.css" %}"/>
        <link rel="stylesheet" href="{% static "projects/assets/bower_components/semantic-ui-dimmer/dimmer.min.css" %}"/>
        <link rel="stylesheet" href="{% static "projects/assets/bower_components/semantic-ui-modal/modal.min.css" %}"/>
	</head>
	<body>


                <!-- Menu -->
                <div id="menu" class="ui top inverted stackable menu">
                  <div class="item">
                      <a href="http://Corvi.co" class="ui item image">
                          <img src="{% static "projects/assets/images/corviPixel.png"%}">
                      </a>
                  </div>
                  <a href="/" class="item">Home</a>
                  <a href="http://blog.corvi.co" class="item">Blog</a>
                  <a href="http://corvi.co/about" class="item">About</a>


                <div class="right menu">
                    <a id="more"  class="ui item ">
                      More Info
                    </a>
                    <a href="{{project.repo_url}}" class="ui item">
                      Github Repo
                    </a>
                 </div>

                </div>

                <div id="modal" class="ui modal">
                  <div class="ui icon header">
                    <h2 id="modalHeader"> {{project.project_name}}</h2>
                  </div>
                  <div id="content" class="content">
                      <p>{{project.description}}</p>
                  </div>
                  <div class="actions">
                    <div id="redirect" class="ui red basic inverted button">
                      <a href="{{project.project_url}}"> View Project Outside Frame <a>
                    </div>
                    <div id="ok" class="ui button">
                      Got it!
                    </div>
                  </div>
</div>

                <iframe id="siteDisplay"
                    title="{{project.project_name}}"
                    width="100%"
                    height="100%"
                    frameborder="0"
                    marginheight="0"
                    marginwidth="0"
                    src="{{ project.project_url}}">
                </iframe>

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="http://twitter.com/amcorvi" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="mailto:am@corvi.co" class="icon fa-envelope"><span class="label">Email</span></a></li>
							<li><a href="http://github.com/amcorvi" class="icon fa-github"><span class="label">Github</span></a></li>
						</ul>
						<p class="copyright"><a href="http://github.com/amcorvi"> &copy; AMCorvi. </a></p>
					</footer>

			</div>

		<!-- Scripts -->
            <script src="{% static 'mainsite/js/jquery.min.js' %}"></script>
            <script src="{% static 'mainsite/js/skel.min.js' %}"></script>
            <script src="{% static 'mainsite/js/util.js' %}"></script>
            <script src="{% static 'mainsite/js/main.js' %}"></script>
            <script src="{% static "projects/assets/bower_components/semantic-ui-transition/transition.min.js" %}"></script>
            <script src="{% static "projects/assets/bower_components/semantic-ui-dimmer/dimmer.min.js" %}"></script>
            <script src="{% static "projects/assets/bower_components/semantic-ui-modal/modal.min.js" %}"></script>
            <script type="text/javascript">
                $(document).ready(function(){
                     $('#more').click(function(){
                        $('#modal').modal('show');
                     });
                });
            </script>
	</body>
</html>

