<!DOCTYPE HTML>
{% load static %}
{% load hosts %}
<html>
	<head>
		<title>AMCorvi</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{% static 'mainsite/styles/smain.css'%}" />
        {# <link rel="stylesheet" href="{% static 'mainsite/styles/supplement' %}"/> #}
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt" style="background: url('http://68.media.tumblr.com/5abd9aa9b89a303f868895ebb059a749/tumblr_nltc5hTgVm1rx5rfmo1_1280.gif') fixed bottom/cover no-repeat;">
            <div class="inner" >

					<h1>AMCorvi</h1>
				</div>
			</header>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Banner -->
					<section id="intro" class="main">
						<span class="icon fa-hand-spock-o major"></span>
						<h2>Alistar Mazzella Corvi</h2>
                        <p>The Server: the final frontier.
                            These are the voyages of my programming enterprise. <br /> Its near life-long mission:
                            to explore strange new code, to seek out new life <br /> and new
                            civilizations (from the safety of a websocket), <br /> to boldly code what no man (or woman) has coded before.</p>
						<ul class="actions">
							<li><a href="/about" class="button big">Learn More</a></li>
						</ul>
					</section>

                <a href='http://blog.corvi.co'>
                    <h1 id="sectionTitle"> Corvi Dev Blog </h1>
                </a>
				<!-- Blogs -->
					<section class="main items">


                    {% for blog in blogs %}

						<article class="item">
							<header>
                                <a href="http://blog.corvi.co/{{blog.pk}}"><img src="{{ blog.img_url }}" alt="" /></a>
                                <h3> {{ blog.post_title }} </h3>
							</header>
                            <p> {{ blog.post_content|truncatewords:"35" }} </p>
							<ul class="actions">
                                <li><a href='http://blog.corvi.co/{{blog.pk}}' class="button">Read More</a></li>
							</ul>
						</article>

                    {% endfor %}

				</section>

				<!-- Projects -->
                <a href='http://projects.corvi.co'>
                    <h1 id="sectionTitle"> Projects </h1>
                </a>
					<section id="cta" class="main special">
                   {% for project in projects %}
                        <h2>{{ project.project_name}} </h2>
                        <p class="projects">{{project.description}}</p>
                        <br />
                        <h6>{{ project.technologies }}</h6>
						<ul class="actions">
                            <li><a href="{{project.repo_url}}" class="button">View Source</a></li>
                            <li><a href="{{project.project_url}}" class="button">View Project</a></li>
						</ul>
                    {% endfor %}
					</section>

				<!-- CTA -->

					<section id="main" class="main">
						<header>
                            <h2 class="CTA">
                                <marquee  id="marq" behavior="alternate" truespeed="800">
                                😀 Thanks For Visiting.
                                <br />
                                Have a fortune cookie 😀
                                </marquee>
                            </h2>
						</header>
                            <div class="fortune">
                                <h3><span  class="fortuneTitle">Your Fortune</span>:</h3>
                                <em>
                                    <h5 id="fortuneMessage"></h5>
                                </em>
                                <hr />
                                <h3><span class="fortuneTitle">Chinese Lesson</span>:</h3>
                                <strong>
                                    <h6>Phrase</h6>
                                    <p id="english" class="fortunePhrase" ></p>
                                </strong>
                                    <h6>Phoneticized Translation</h6>
                                    <p id="pronunciation" id="fortunePhrase"></p>
                                <hr />
                                    <h3><span class="fortuneTitle">Lucky Number</span>:</h3>
                                    <p id="fortuneNumbers"></p>
                            <span id="altFortune" class="button">Have A Look At My Cookie</span>
                            </div>
					</section>


				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="http://twitter.com/amcorvi" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="mailto:am@corvi.co" class="icon fa-envelope"><span class="label">Email</span></a></li>
							<li><a href="http://github.com/amcorvi" class="icon fa-github"><span class="label">Github</span></a></li>
						</ul>
						<p class="copyright"><a href="http://github.com/amcorvi"> &copy; AMCorvi. </a></p>
					</footer>

			</div>

		<!-- Scripts -->
            <script src="{% static 'mainsite/js/jquery.min.js' %}"></script>
            <script src="{% static 'mainsite/js/skel.min.js' %}"></script>
            <script src="{% static 'mainsite/js/util.js' %}"></script>
            <script src="{% static 'mainsite/js/main.js' %}"></script>
            <script type="text/javascript">
            function reqListener () {

                var fortunes = JSON.parse(this.responseText);
                var cookie1 = fortunes[0];
                var cookie2 = fortunes[1];

                fortuneMessage.innerText = cookie1.fortune.message;
                fortuneNumbers.innerText = cookie1.lotto.numbers;
                english.innerText = cookie1.lesson.english;
                pronunciation.innerText = cookie1.lesson.pronunciation;


                var isFirstCookie = true ;
                altFortune.addEventListener("click", function(e){

                        if (isFirstCookie === true ) {

                           fortuneMessage.innerText = cookie2.fortune.message;
                           fortuneNumbers.innerText = cookie2.lotto.numbers;
                           english.innerText = cookie2.lesson.english;
                           pronunciation.innerText = cookie2.lesson.pronunciation;

                           isFirstCookie = false;
                           e.toElement.innerText = "Check Your Cookie Again" ;
                        } else {


                           fortuneMessage.innerText = cookie1.fortune.message;
                           fortuneNumbers.innerText = cookie1.lotto.numbers;
                           english.innerText = cookie1.lesson.english;
                           pronunciation.innerText = cookie1.lesson.pronunciation;

                           isFirstCookie = true;
                           e.toElement.innerText = "Check My Cookie Again" ;
                        }
                 })


                console.log(fortunes);



            }

            var fortuneCookie = new XMLHttpRequest();
            fortuneCookie.addEventListener("load", reqListener);
            fortuneCookie.open("GET", "http://fortunecookieapi.herokuapp.com/v1/cookie?limit=2");
            fortuneCookie.send();
            </script>

	</body>
</html>

