<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>AMCorvi</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{% static 'mainsite/styles/main.css'%}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="inner">
					<h1>AMCorvi</h1>
				</div>
			</header>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Banner -->
					<section id="intro" class="main">
						<span class="icon fa-diamond major"></span>
						<h2>Magna porta maximus</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae<br />
						malesuada turpis. Nam pellentesque in ac aliquam. Aliquam tempor<br />
						mi porta egestas maximus lorem ipsum dolor.</p>
						<ul class="actions">
							<li><a href="#" class="button big">Learn More</a></li>
						</ul>
					</section>

				<!-- Items -->
					<section class="main items">

                    {% for blog in blogs %}

						<article class="item">
							<header>
                                <a href="/blog/{{blog.pk}}"><img src="{{ blog.img_url }}" alt="" /></a>
                                <h3> {{ blog.post_title }} </h3>
							</header>
                            <p> {{ blog.post_content|truncatewords:"35" }} </p>
							<ul class="actions">
                                <li><a href="blog/{{ blog.pk }}" class="button">Read More</a></li>
							</ul>
						</article>

                    {% endfor %}
                        
				</section>

				<!-- CTA -->
                   {% for project in projects %} 
					<section id="cta" class="main special">
                        <h2>{{ project.project_name}} </h2>
                        <p>{{project.description}}</p>
                        <h6>{{ project.technologies }}</h6>
						<ul class="actions">
                            <li><a href="{{project.repo_url}}" class="button">View Source</a></li>
                            <li><a href="{{project.project_url}}" class="button">View Project</a></li>
						</ul>
                    {% endfor %}
					</section>

				<!-- Main -->
				
					<section id="main" class="main">
						<header>
							<h2>Lorem ipsum dolor</h2>
						</header>
						<p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare. Etiam eget neque id metus gravida tristique ac quis erat. Aenean quis aliquet sem. Ut ut elementum sem. Suspendisse eleifend ut est non dapibus. Nulla porta, neque quis pretium sagittis, tortor lacus elementum metus, in imperdiet ante lorem vitae ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam eget neque id metus gravida tristique ac quis erat. Aenean quis aliquet sem. Ut ut elementum sem. Suspendisse eleifend ut est non dapibus. Nulla porta, neque quis pretium sagittis, tortor lacus elementum metus, in imperdiet ante lorem vitae ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
					</section>
				

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<p class="copyright">&copy; AMCorvi. </a>.</p>
					</footer>

			</div>

		<!-- Scripts -->
            <script src="{% static 'mainsite/js/jquery.min.js' %}"></script>
            <script src="{% static 'mainsite/js/skel.min.js' %}"></script>
            <script src="{% static 'mainsite/js/util.js' %}"></script>
            <script src="{% static 'mainsite/js/main.js' %}"></script>

	</body>
</html>

